# Go build
/bin/
/build/
/dist/
*.exe
*.out
*.test
coverage.out

# Modules
vendor/

# OS/IDE
.DS_Store
.idea/
.vscode/

# Logs & temps
*.log
tmp/
*.tmp

# Env & secrets
cmd/taskmanager/.env
cmd/taskmanager/.env.example
!cmd/taskmanager/.env.example
cmd/notification-service/.env
ngrok-config.yml
project.zip

# DB data
pgdata/
