# Go build
/bin/
/build/
/dist/
*.exe
*.out
*.test
coverage.out

# Modules
vendor/

# OS/IDE
.DS_Store
.idea/
.vscode/

# Logs & temps
*.log
tmp/
*.tmp

# Env & secrets
cmd/taskmanager/.env
.env.*
!.env.example

# DB data
pgdata/
